/*
===================================================
                font-faces
===================================================
*/

@font-face {
	font-family: 'Roboto Condensed';
	font-display: swap;
	src: local('roboto_condensedbold'), url(../fonts/robotocondensed-bold-webfont.woff) format('woff2'), url(../fonts/robotocondensed-bold-webfont.woff) format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Condensed';
	font-display: swap;
	src: local('roboto_condensedregular'), url(../fonts/robotocondensed-regular-webfont.woff2) format('woff2'), url(../fonts/robotocondensed-regular-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Condensed';
	font-display: swap;
	src: local('roboto_condensedlight'), url(../fonts/robotocondensed-light-webfont.woff2) format('woff2'), url(../fonts/robotocondensed-light-webfont.woff2) format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Genericons';
	font-display: swap;
	src: local('Genericons'), url(../fonts/Genericons.eot);
	src: url(../fonts/Genericons.eot?#iefix) format("embedded-opentype"), url(../fonts/Genericons.woff) format("woff"), url(../fonts/Genericons.ttf) format("truetype"), url(../fonts/Genericons.svg#Genericons) format("svg");
	font-weight: normal;
	font-style: normal;
}


/*
===================================================
				  Variables
===================================================
*/

:root {
	/* header */
	--newsred: #f72210;
	--newspink: #fb9a94;
	--newsborderwhite: #f4f5f6;
	--newsborderdust: #f4f5f7;
	--newswhitesmoke: #d9d9d9;
	--newsdark: #272727;
	--newsblues: #3581f4;
	/* Main */
	--featureGray: rgba(3, 3, 3, 0.4);
}


/*
  ===================================================
				  Page Styles
  ===================================================
  */

* {
	-webkit-font-smoothing: antialiased;
}

body {
	min-width: 320px;
	background-color: #f4f5f6;
	color: #333;
	font-size: 13px;
	line-height: 18px;
	font-family: Arial, Helvetica, sans-serif;
}

html,
body,
div,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
li,
form,
legend,
label,
table,
header,
footer,
nav,
section,
figure {
	margin: 0;
	padding: 0;
}

.genericon {
	font-size: 26px;
	vertical-align: top;
	text-align: center;
	display: block;
	font-family: "Genericons", Helvetica, sans-serif;
	cursor: pointer;
}


/*
  ===================================================
				  special visibility
  ===================================================
  */

.active {
	width: 100%;
}

.fullRow {
	width: 100% !important;
}

.nonActive {
	width: 0%;
	overflow: hidden;
	white-space: nowrap;
}

.cursor {
	position: relative;
}

.cursor i {
	position: absolute;
	width: 1px;
	height: 80%;
	background-color: gray;
	left: 5px;
	top: 10%;
	animation-name: blink;
	animation-duration: 1000ms;
	animation-iteration-count: infinite;
	opacity: 1;
}

.cursor input:focus+i {
	display: none;
}

@keyframes blink {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}


/*
  ===================================================
				  Header
  ===================================================
  */

.page-header .container {
	max-width: 1310px;
	padding: 0;
	position: relative;
}

.page-header .header-top {
	height: 95px;
	background-color: var(--newsred);
	padding: 20px 10px 15px;
}

.page-header .header-middle {
	background-color: var(--newsred);
	position: relative;
	padding: 15px;
}

.header-middle .logo svg {
	fill: white;
	display: block;
	width: 132px;
	height: 20px;
}

.header-signin {
	padding-right: 0;
	/* overwriting boots col std padding=15px */
}

.header-signin .signin1 {
	color: white;
	position: relative;
	font: bold 14px/14px "Roboto Condensed", sans-serif;
	text-transform: uppercase;
	display: inline-block;
	padding: 6px 3px 8px 3px;
}

.header-signin .subscribe1 {
	font: bold 14px/14px "Roboto Condensed", sans-serif;
	text-transform: uppercase;
	display: inline-block;
	padding: 6px 3px;
	background-color: white;
	color: var(--newsred);
	margin-bottom: 2px;
}

.header-middle .header-burger>span {
	margin-top: 4px;
	margin-bottom: 4px;
}

.header-middle .header-burger {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
}

.header-middle .header-burger>span,
.header-middle .header-burger::before,
.header-middle .header-burger::after {
	content: "";
	display: block;
	width: 24px;
	height: 4px;
	background-color: var(--newspink);
	margin-left: auto;
	margin-right: auto;
}

.page-header .header-nav {
	display: relative;
	background-color: white;
	border-bottom-color: var(--newsborderwhite);
	visibility: hidden;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	z-index: 1;
}

.header-nav .header-nav-search-form form {
	display: block;
}

.header-nav ul.news-navbar {
	font-size: 21px;
	line-height: 24px;
	font-weight: bold;
	font-family: "Roboto Condensed", sans-serif;
	color: black;
	list-style-type: none;
}

.header-nav ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.header-nav .news-navbar a {
	display: block;
	text-decoration: none;
	color: black;
}

@media screen and (min-width: 481px) {
	.header-top .header-signin {
		padding-right: 24px;
	}
	.header-signin .signin1 {
		font-size: 18px;
		padding-left: 12px;
		padding-right: 12px;
	}
	.header-signin .subscribe1 {
		font-size: 18px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.header-signin .subscribe1 svg {
		fill: var(--newsred);
		display: inline-block;
		width: 8px;
		height: 14px;
		margin-left: 10px;
	}
	.header-middle .header-burger {
		width: 74px;
	}
	.header-middle .header-burger>span,
	.header-middle .header-burger::before,
	.header-middle .header-burger::after {
		width: 30px;
	}
}

@media screen and (max-width: 991px) {
	.page-header .header-middle {
		padding: 15px;
	}
	.header-top .header-date {
		display: none;
	}
	.page-header .header-top {
		position: relative;
		z-index: 2;
		padding: 0;
		height: 0;
	}
	.header-top .header-signin {
		position: relative;
		top: 40px;
		right: 50px;
	}
	/* --- Burger animate class  */
	/*    You cannot change a pseudo element's property but */
	/*     you coud add a new class and introduce the change with  */
	/*     the new class - animate-burger class added */
	/*     managing the burger to get crossed */
	.animate-burger::before {
		transform: rotate(-135deg);
	}
	.animate-burger::after {
		transform: rotate(135deg);
	}
	.animate-burger::before,
	.animate-burger::after {
		position: absolute;
		transition: all 0.3s ease;
	}
	/*  --------------------------- */
	.header-nav {
		position: absolute;
		top: 50px;
		right: 0;
		width: 220px;
		height: 100vh;
		padding: 10px 0;
		box-shadow: rgba(0, 0, 0, 0.1) -2px 0 2px;
		overflow-y: scroll;
	}
	.header-nav .header-nav-search-form {
		position: relative;
		padding-right: 20px;
		margin-left: 15px;
		margin-right: 10px;
	}
	.header-nav-search-inline label {
		position: absolute;
		top: 0;
		right: 0;
		background: url(../svg/icon-search-glass.svg) center/contain no-repeat white;
		width: 20px;
		height: 20px;
		clip: auto;
		margin-bottom: 0;
	}
	.header-nav-search-inline input {
		vertical-align: middle;
		font-size: 16px;
		height: 20px;
		width: 175px;
		color: rgba(0, 0, 0, 0.55);
		background-color: white;
		padding: 0;
		margin: 0;
		border: 0;
	}
	.header-nav .news-navbar {
		padding-top: 10px;
		padding-left: 0;
	}
	.header-nav .news-navbar li a {
		position: relative;
		padding: 5px 15px;
	}
	.header-nav .news-navbar li a::after {
		content: "";
		display: inline-block;
		vertical-align: middle;
		width: 8px;
		height: 14px;
		background-color: rgba(0, 0, 0, 0.55);
		-webkit-mask-image: url(../svg/icon-arrow-right.svg);
		margin-left: 10px;
		position: absolute;
		right: 15px;
		top: 12px;
	}
}

@media screen and (min-width: 992px) {
	.header-top .header-signin {
		padding-right: 0;
	}
	.page-header .header-middle {
		background-color: var(--newsred);
		padding: 10px 15px 10px 15px;
		position: absolute;
		transform: translate(-50%, 0);
		top: 0%;
		left: 50%;
	}
	.header-middle .logo svg {
		fill: white;
		width: 396px;
		height: 60px;
		margin: 10px auto 0;
		display: block;
	}
	.header-top .header-date {
		display: block;
		font: 16px/34px "Roboto Condensed", sans-serif;
		color: white;
	}
	.header-middle .header-burger {
		display: none;
	}
	.page-header .header-nav {
		visibility: visible;
		position: relative;
		padding-right: 100px;
	}
	.page-header .header-nav::before {
		position: absolute;
		top: 0;
		right: 0;
		content: "";
		display: block;
		width: 78px;
		background-color: var(--newsred);
		border-left: 12px solid white;
		border-top: 13px solid var(--newsred);
	}
	.header-nav .flex-col {
		width: 100%;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
	}
	.header-nav .header-nav-search-inline {
		flex-direction: row-reverse;
		justify-content: flex-end;
		align-items: center;
	}
	.header-nav .header-nav-search-inline input {
		width: 60px;
	}
	.header-nav-search-inline label {
		background: url(../svg/icon-search-glass.svg) center/contain no-repeat white;
		width: 20px;
		height: 20px;
		clip: auto;
		margin-bottom: 0;
	}
	.header-nav .news-navbar {
		display: flex;
		justify-content: center;
		align-content: space-between;
		flex-grow: 1;
		align-items: center;
	}
	.header-nav .news-navbar li {
		display: inline-block;
		flex-grow: 1;
		text-align: center;
		list-style: none;
		border-left-width: 1px;
		border-left-style: solid;
		border-left-color: var(--newswhitesmoke);
	}
	.page-header .header-nav ul li:first-child {
		border-left-width: 0;
		padding-left: 10px;
	}
	#search-input {
		border: none;
		outline: none;
	}
	/* this will disable the outline when input text is on focus */
}


/*
  ===================================================
				  Main
  ===================================================
  */

.main {
	background-color: white;
	padding-top: 20px;
}

.container-fluid {
	max-width: 1310px;
	padding-left: 20px;
	padding-right: 20px;
	overflow: hidden;
	/* fixing the hidden overflow with this overflow property */
}

.col1 .col-wrap,
.col2 .col-wrap,
.col3 .col-wrap,
.col4 .col-wrap {
	padding-left: 15px;
	padding-right: 15px;
}

.head-story p {
	font: bold 16px/16px "Roboto Condensed", sans-serif;
	text-transform: uppercase;
	padding-bottom: 11px;
	color: var(--featureGray);
}

.head-story-red p {
	font: bold 16px/16px "Roboto Condensed", sans-serif;
	text-transform: uppercase;
	padding-bottom: 11px;
	color: var(--newsred);
}

.head-story article {
	padding-bottom: 20px;
}

.head-story .article-wrap {
	position: relative;
	min-height: 33px;
	margin-bottom: 10px;
}

.head-story .category {
	display: block;
	padding: 8px 15px 9px;
	background-color: rgba(255, 255, 255, 0.9);
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 2;
}

.head-story .category a {
	font: bold 17px/16px "Roboto Condensed", sans-serif;
	color: #f72210;
	text-transform: uppercase;
	text-decoration: none;
}

.head-story .image {
	max-width: 100%;
	vertical-align: middle;
	height: auto;
	overflow: hidden;
}

.head-story .header-2 {
	font-size: 22px;
	line-height: 24px;
	margin-bottom: 10px;
}

.head-story article a {
	font-family: "Roboto Condensed", sans-serif;
	margin-bottom: 10px;
	position: relative;
	color: black;
}

.more-story-content .more-story-article {
	position: relative;
	border-top: 1px solid #ddd;
	clear: both;
	display: block;
	padding-top: 14px;
	padding-bottom: 14px;
	overflow: hidden;
	/* Overflow:hidden avoids floating image
	  to everflow the parent container article */
}

.more-story-article .image {
	float: left;
	width: 135px;
	height: 90px;
	margin-right: 15px;
	margin-bottom: 10px;
}

.more-story-article .image a {
	display: block;
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
	padding: 66.6667% 0 0 0;
}

.more-story-article img {
	display: block;
	width: 100%;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.more-story-article h4 {
	font-family: "Roboto Condensed", sans-serif;
	font-weight: bold;
	font-size: 17px;
	line-height: 20px;
	margin-bottom: 10px;
	position: relative;
	color: black;
}

.culture-story-content {
	background-color: var(--newsborderdust);
	margin-bottom: 20px;
}

.culture-story-content .head-story .title {
	color: rgba(3, 3, 3, 0.5);
	padding: 10px;
	font: bold 16px/16px "Roboto Condensed", sans-serif;
	text-transform: uppercase;
}

.culture-story-content .title a {
	color: inherit;
	text-decoration: none;
}

.culture-story-content .culture-items {
	margin-left: -10px;
	margin-right: -10px;
}

.culture-story-content .culture-item {
	padding-left: 10px;
	padding-right: 10px;
}

.culture-story-content .culture-item .info {
	padding: 15px 10px 20px;
}

.culture-item .info .title-item {
	color: var(--newsdark);
	font: 20px/22px "Lora", serif;
	margin-bottom: 10px;
}

.culture-item .info .title-item a {
	color: inherit;
	text-decoration: none;
}

.culture-item .info .summary-item {
	font: 15px/20px "Helvetica Neue", "Helvetica", Arial, sans-serif;
	color: rgba(39, 39, 39, 0.5);
	margin-bottom: 10px;
}

.culture-item .info .tags-item {
	font: 300 13px/20px "Helvetica Neue", "Helvetica", Arial, sans-serif;
	color: var(--newsdark);
}

.culture-item .tags-item a {
	display: inline-block;
	background-color: #c2d4d7;
	padding-left: 6px;
	padding-right: 6px;
	margin-right: 6px;
	margin-bottom: 6px;
	color: inherit;
	text-decoration: none;
	width: auto;
}

.header-3 {
	font-size: 20px;
	line-height: 20px;
	font-family: "Roboto Condensed", sans-serif;
	font-weight: bold;
	margin-bottom: 10px;
	position: relative;
	color: black;
}

.featured-stories article ul.related {
	font: bold 16px/20px "Roboto Condensed", sans-serif;
	color: black;
	margin-top: 16px;
	list-style: none outside none;
}

.featured-stories .related li {
	border-top: 1px solid #d9d9d9;
	padding: 10px 0;
}


/* ----------- Special Items subsection */

.special-item-right .article-wrap {
	margin-bottom: 0;
}

.special-item-right .category a {
	color: var(--newsblues);
}

.special-item-right .article-summary {
	border: 1px solid #e6e6e6;
	background-color: white;
	background-position: top right;
	padding: 20px;
}

.special-item-right .image>a>span {
	display: block;
	padding-bottom: 66.75%;
}

#special-1 {
	background: url(../img/sponsored-item1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#special-2 {
	background: url(../img/sponsored-item2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#special-3 {
	background: url(../img/sponsored-item3.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 55% 55%;
}

#special-4 {
	background: url(../img/sponsored-item4.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#special-sub-1 {
	background: url(../img/sponsored-item-sub1.png);
	background-size: cover;
}

#special-sub-2 {
	background: url(../img/sponsored-item-sub2.jpg);
	background-size: cover;
}

#special-sub-3 {
	background: url(../img/sponsored-item-sub3.jpg);
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

#special-sub-4 {
	background: url(../img/sponsored-item-sub4.png);
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

#news-opinion .head-story {
	font: bold 17px/21px "Roboto Condensed", sans-serif;
	color: black;
	margin-bottom: 30px;
}

.head-story ul li {
	border-top: 1px solid #ddd;
	padding-top: 10px;
	padding-bottom: 10px;
}

.head-story ul li:first-child {
	border-top: 0;
	padding-top: 0;
}

#news-opinion .head-story .headshot {
	width: 63px;
	height: 63px;
	min-width: 63px;
	min-height: 63px;
	margin-right: 15px;
	position: relative;
}

#news-opinion .head-story img {
	width: 100%;
}

#news-opinion .head-story a {
	font: inherit;
	color: inherit;
}

#news-opinion .head-story .byAuthor {
	font-size: 14px;
	line-height: 21px;
	color: #555;
	text-transform: uppercase;
	margin-top: 4px;
}


/* latest news Subsection */

#latest-news .head-story {
	font: bold 17px/21px "Roboto Condensed", sans-serif;
	color: black;
	margin-bottom: 30px;
}

#latest-news .head-story a {
	font: inherit;
	color: inherit;
}

#latest-news .head-story .image {
	width: 135px;
	min-width: 135px;
	margin-right: 15px;
}


/* sponsored items sub-category */

.special-item-sub .head-story {
	padding-bottom: 30px;
}


/* ---------singup box  ------------- */

.signup-news {
	max-width: 300px;
	margin: 0 auto 30px;
	border: 1px solid #e5e5e5;
	background-color: #f4f5f6;
	padding: 20px;
}

.box-title {
	font: bold 19px/19px "Roboto Condensed", sans-serif;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.box-title .icon-news {
	display: block;
	width: 29px;
	height: 28px;
	background: url(../svg/singup-logo.svg) center/contain no-repeat #f72210;
	margin-right: 10px;
}

.gray-button {
	display: inline-block;
	padding: 10px 10px 10px 12px;
	color: white;
	font: bold 18px/18px "Roboto Condensed", sans-serif;
	text-transform: uppercase;
	margin-bottom: 15px;
	background-color: #666;
}

.red-button {
	display: inline-block;
	padding: 10px 10px 10px 12px;
	color: white;
	font: bold 18px/18px "Roboto Condensed", sans-serif;
	text-transform: uppercase;
	margin-bottom: 15px;
	background-color: var(--newsred);
}

.gray-button::after,
.red-button::after {
	content: "";
	display: inline-block;
	width: 8px;
	height: 14px;
	margin-left: 10px;
	background: url(../svg/icon-arrow-right.svg) center/contain no-repeat;
}

.small-link {
	color: #333;
	font: bold 15px/15px "Roboto Condensed", sans-serif;
}

@media screen and (max-width: 991px) and (min-width: 668px) {
	.col3 .special-item-right {
		max-width: 330px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media screen and (max-width: 767px) and (min-width: 481px) {
	.more-story-content .more-story-article .image {
		width: 258px;
		height: 172px;
	}
	#latest-news .head-story .image {
		width: 258px;
		min-width: 258px;
	}
}

@media screen and (min-width: 768px) {
	body {
		font-size: 15px;
		line-height: 20px;
	}
	.header-3 {
		font-size: 24px;
		line-height: 24px;
	}
	/*     .container-fluid {
		  padding-left: 30px;
		  padding-right: 30px;
	  } */
	.wrap-col-top .col1 {
		width: 41%;
	}
	.wrap-col-top .col2 {
		width: 59%;
	}
	.wrap-col-top .col3 {
		width: 29%;
	}
	.wrap-col-top .col4 {
		width: 71%;
	}
	.culture-story-content .culture-item {
		width: 50%;
	}
	.head-story .image span {
		display: block;
		position: relative;
		padding-bottom: 76.5%;
		overflow: hidden;
	}
	.top-story-content .head-story img {
		transform: translate(-50%, -50%);
		position: absolute;
		top: 50%;
		left: 50%;
		height: 100%;
		max-width: inherit;
		width: auto;
	}
}

@media screen and (max-width: 991px) and (min-width: 768px) {
	/* 2 columns (col4) */
	.wrap-col-top .col1 {
		width: 45%;
	}
	.wrap-col-top .col2 {
		width: 55%;
	}
	.wrap-col-top .col3 {
		width: 100%;
	}
	.wrap-col-top .col4 {
		width: 100%;
	}
}

@media screen and (max-width: 767px) {
	/* Focused on column wrap -col4- and subcolumn order */
	.main #column-4 #col4-wrap {
		flex-wrap: wrap;
	}
	.wrap-col-top .d-flex .col1 {
		width: 100%;
		order: 2;
	}
	.wrap-col-top .d-flex .col2 {
		width: 100%;
		order: 1;
	}
	/* changing markup order of col2 and col1 at this media */
	.wrap-col-top .col2 .order-3 {
		order: 2;
	}
	.wrap-col-top .col2 .order-2 {
		order: 3;
	}
}


/*
  ===================================================
				  Page Bottom
  ===================================================
  */

.inMagazine-block {
	margin-bottom: 40px;
}

.magazine-3-features {
	height: auto;
}

.magazine-phisical .wrap {
	position: relative;
}

.magazine-phisical .wrap .img {
	max-width: 100%;
}

.magazine-phisical .wrap .category {
	display: block;
	font: bold 16px/33px "Roboto Condensed", sans-serif;
	color: var(--newsred);
	text-transform: uppercase;
	padding: 0 10px;
	background-color: rgba(255, 255, 255, 0.9);
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
}

.magazine-phisical .wrap a {
	color: inherit;
	font: inherit;
}

.magazine-phisical .mgz-features {
	display: block;
	background-color: #f4f5f6;
	color: black;
	text-align: center;
	margin-bottom: 0;
	font: bold 18px/18px "Roboto Condensed", sans-serif;
	text-transform: uppercase;
	padding: 10px 10px 10px 12px;
}

.mgz-features::after {
	content: "";
	background: url(../svg/icon-arrow-right-black.svg) center/contain no-repeat;
	display: inline-block;
	width: 8px;
	height: 14px;
	margin-left: 10px;
}

.magazine article .category {
	font: bold 16px/26px "Roboto Condensed", sans-serif;
	color: var(--newsred);
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 10px;
}

.magazine article .category span:first-of-type {
	padding: 0 7px;
	background-color: #f72210;
	color: white;
	margin-right: 7px;
}

.magazine article .category span {
	display: inline-block;
}

.magazine article .category a,
.magazine h5 a {
	color: inherit;
	font: inherit;
}

.magazine h5 {
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 16px;
	font-family: "Roboto Condensed", sans-serif;
	position: relative;
	color: black;
	font-weight: bold;
}

.magazine article .image {
	display: block;
	position: relative;
	padding-bottom: 66.738%;
	overflow: hidden;
}

.magazine article .image img {
	position: absolute;
	width: 100%;
	max-width: 100%;
	object-fit: cover;
}

.magazine article .fix-height {
	position: absolute;
	height: 100%;
	max-width: 100%;
	width: auto;
	object-fit: cover;
}

.magazine article .overlay {
	position: relative;
}

.magazine .overlay .image {
	display: block;
	position: relative;
	padding-bottom: 66.666%;
	overflow: hidden;
}

.magazine .overlay .category {
	display: block;
	font: bold 16px/33px "Roboto Condensed", sans-serif;
	color: white;
	text-transform: uppercase;
	padding: 0 10px;
	background-color: var(--newsred);
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	margin-top: 0;
	margin-bottom: 0;
}

.magazine .in-focus h5 {
	margin-top: 10px;
	text-transform: uppercase;
}

@media screen and (min-width: 768px) {
	.magazine-phisical {
		margin-top: 78px;
	}
	.box-title {
		border-bottom: 1px solid #d9d9d9;
		padding-bottom: 8px;
	}
	.magazine article .image,
	.magazine .overlay .image {
		display: block;
		position: relative;
		padding-bottom: 100%;
		overflow: hidden;
		width: 100%;
	}
	.magazine article .image img,
	.magazine .overlay img {
		transform: translate(-50%, 0%);
		position: absolute;
		top: 0;
		left: 50%;
		width: auto;
		height: 100%;
		max-width: inherit;
	}
	.magazine h5 {
		margin-bottom: 0;
		font-size: 20px;
		line-height: 20px;
	}
	.magazine .full-row-bottom {
		padding-top: 30px;
	}
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.col-sm-3,
	.col-sm-9,
	.col-sm-4 {
		position: relative;
		min-width: 100% !important;
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
	}
	.magazine-3-features .features-title {
		margin-top: 30px;
	}
}


/*
  ===================================================
				  Newsweek Conversations
  ===================================================
  */

.newsweek-videos {
	margin-bottom: 30px;
	display: block;
}

.video-options .container {
	max-width: 767px;
}

.play-icon {
	font-size: 60px;
	width: 70px;
	height: 70px;
	line-height: 70px;
	background-color: #fd0100;
	color: white;
	position: absolute;
	bottom: 0;
	left: 0;
}

.video-options .play-icon-sm {
	font-size: 40px;
	width: 45px;
	height: 45px;
	line-height: 45px;
	background-color: #fd0100;
	color: white;
	position: absolute;
	bottom: 0;
	left: 0;
}

.play-icon::before,
.play-icon-sm::before {
	content: "\f452";
}

.blk-bgnd {
	background-color: black;
	color: white;
}

.video-options ul {
	list-style: none outside none;
}

.video-options ul li {
	border-top: 1px solid #ddd;
}

.newsweek-videos .key-video div.details {
	font-size: 16px;
	line-height: 24px;
	color: #c6c6c6;
	margin-bottom: 10px;
}

.newsweek-videos h3 {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 26px;
	line-height: 34px;
	font-weight: bold;
	margin-bottom: 10px;
}

.newsweek-videos h4 {
	font-family: "Roboto Condensed", sans-serif;
	font-size: 16px;
	line-height: 18px;
	margin-bottom: 4px;
	font-weight: bold;
}

.newsweek-videos time {
	font-size: 14px;
	line-height: 14px;
	color: #777;
}

.key-video {
	width: 100%;
}

.video-options {
	width: 100%;
}

.key-video .image {
	position: relative;
	padding: 0;
	width: auto;
}

.key-video .image img {
	max-width: 486px;
	max-height: 315px;
	width: 100%;
	height: auto;
}

.newsweek-videos .info {
	padding: 20px;
}

.newsweek-videos a {
	color: inherit;
	height: auto;
	width: auto;
}

.video-options .image {
	position: relative;
	vertical-align: middle;
	width: 173px;
	height: auto;
	padding: 0;
}

.video-options .image img {
	max-width: 173px;
	max-height: 104px;
	width: 100%;
	height: auto;
}

@media screen and (min-width: 768px) {
	.key-video {
		width: 66.66%;
	}
	.key-video .image a {
		background-image: url(../img/newsweek-conversations-1.jpg);
	}
	.video-options {
		width: 33.33%;
	}
	.key-video .image {
		width: 50%;
		order: 2;
	}
	.key-video .info {
		width: 50%;
		order: 1;
		padding: 40px 25px 30px 25px;
	}
	.video-options .info {
		padding: 10px 20px;
	}
	.video-options .image {
		height: inherit;
	}
	.video-options h4 {
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 13px;
	}
	.newsweek-videos time {
		font-size: 18px;
		line-height: 18px;
	}
	.video-options ul {
		border-left: 1px solid #ddd;
	}
	ul li .vid-opt-wrap {
		position: relative;
		height: inherit;
		align-items: stretch !important;
	}
	.newsweek-videos h3 {
		font-size: 28px;
		line-height: 32px;
		margin-bottom: 4px;
	}
	.newsweek-videos .key-video summary {
		font-size: 15px;
		line-height: 20px;
		margin-bottom: 6px;
	}
	.newsweek-videos .image img {
		display: none;
	}
	.newsweek-videos .image a {
		display: block;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
	#option-1 {
		background-image: url(../img/newsweek-conversations-2.jpg);
	}
	#option-2 {
		background-image: url(../img/newsweek-conversations-3.jpg);
	}
	#option-3 {
		background-image: url(../img/newsweek-conversations-4.jpg);
	}
	.video-options .play-icon-sm {
		font-size: 30px;
		width: 34px;
		height: 34px;
		line-height: 34px;
	}
	.newsweek-videos .play-icon {
		font-size: 45px;
		width: 53px;
		height: 53px;
		line-height: 53px;
	}
	.newsweek-videos .box-title {
		border-bottom: 0;
	}
}

@media screen and (min-width: 992px) {
	.key-video .image {
		width: 58.3333%;
		order: 2;
	}
	.key-video .info {
		width: 41.6666%;
		order: 1;
	}
}


/*
  ===================================================
				  Editor's Picks
  ===================================================
  */

.newsweeks-picks {
	margin-bottom: 20px;
}

.picks-features .box-title {
	border-bottom: 1px solid #d9d9d9;
	padding-bottom: 8px;
}

.picks-features .col-wrap {
	padding-left: 0;
	padding-right: 0;
}


/*
  ===================================================
				  Newsweek's Slide-shows
  ===================================================
  */

.slide-feature .box-title {
	border-bottom: 1px solid #d9d9d9;
	padding-bottom: 8px;
}

.slide-feature .featured-stories .article-wrap {
	margin-bottom: 20px;
}

.slide-feature .featured-stories article {
	padding-bottom: 40px;
}

.slide-feature .slide-count a {
	margin-bottom: 0;
}

.slide-feature .count-link {
	width: 70px;
	height: 52px;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	font-weight: bold;
	font-size: 20px;
	line-height: 58px;
	text-indent: 5px;
	text-align: center;
	background: url(/assets/img/icon-slideshows-nw.png) 0 0/contain no-repeat;
	color: #e9212e;
	z-index: 2;
}

@media screen and (min-width: 768px) {
	.slide-feature .featured-stories h4 {
		font-size: 22px;
		line-height: 22px;
	}
}


/*
  ===================================================
				  HiDPI screeen's stories
  ===================================================
  */

.HiDPI .content {
	padding-left: 1px;
	padding-right: 1px;
	margin: 0;
}

.HiDPI .head-story .title-HiDPI {
	border-top: 1px solid #d9d9d9;
	color: #f72210;
	padding-top: 25px;
	font: bold 22px/22px "Roboto Condensed", sans-serif;
	text-transform: none;
	padding-bottom: 11px;
}

.HiDPI .title-HiDPI a {
	color: inherit;
	text-decoration: none;
	font-size: 22px;
}

.HiDPI .head-story article h4 {
	margin-top: 10px;
	margin-bottom: 25px;
	font-size: 18px;
	line-height: 18px;
}

.HiDPI .head-story article {
	padding-bottom: 0;
}


/* HiDPI latest news Subsection */

.latest-news .head-story {
	font: bold 17px/21px "Roboto Condensed", sans-serif;
	color: black;
	margin-bottom: 30px;
}

.latest-news .head-story a {
	font: inherit;
	color: inherit;
}

.latest-news .head-story .image {
	width: 138px;
	min-width: 135px;
	margin-right: 15px;
}

.latest-news ul.hidpi-subsection li {
	border-bottom: 1px solid #ddd;
	border-top: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.latest-news ul.hidpi-subsection li:last-child {
	border-bottom: 0;
}

@media screen and (min-width: 481px) {
	.latest-news .head-story .image {
		width: 258px;
		min-width: 258px;
	}
}

@media screen and (min-width: 768px) {
	.latest-news .head-story .image {
		width: 138px;
		min-width: 135px;
		margin-right: 15px;
	}
	.latest-news ul.hidpi-subsection li:first-child {
		padding-top: 0;
	}
	.HiDPI .head-story article h4 {
		font-size: 22px;
		line-height: 22px;
	}
}


/*
  ===================================================
				  subscribe - block
  ===================================================
  */

.subscribe-block {
	padding-top: 40px;
	position: relative;
	margin-bottom: 40px;
}

.subscribe-block .column1,
.subscribe-block .column2 {
	flex-wrap: wrap;
	justify-content: flex-start;
}

.subscribe-block .column2 .head-story-red {
	flex-basis: 100%;
}

.subscribe-block::before {
	content: "";
	display: block;
	background-color: #f4f5f6;
	height: 2px;
	position: absolute;
	top: 0;
	z-index: 999;
	left: -30px;
	right: -30px;
}

.column1 .subscribe-wrap {
	background-color: #f4f5f6;
}

.subscribe-wrap {
	margin-bottom: 40px;
}

.subscribe-block .image-wrap {
	position: relative;
	padding-bottom: 13px;
	padding-right: 90px;
	display: inline-block;
}

.subscribe-block .last-week img,
.subscribe-block .next-week img {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.subscribe-block .last-week,
.subscribe-block .next-week {
	width: 170px;
	height: 228px;
}

.subscribe-block .next-week {
	position: absolute;
	top: 13px;
	left: 80px;
}

.subscribe-block .info {
	text-align: center;
}

.subscribe-block .info h3,
.subscribe-block .c2-info h3 {
	margin-bottom: 15px;
	line-height: 28px;
	font-family: "Roboto Condensed", sans-serif;
	font-weight: bold;
	font-size: 20px;
	position: relative;
	color: black;
}

.subscribe-block .info p,
.subscribe-block .c2-info p {
	font: 300 15px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 25px;
}

@media screen and (max-width: 767px) {
	.subscribe-wrap .placement-wrap {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 24px 20px 20px;
	}
	.subscribe-block .image-wrap {
		margin-bottom: 15px;
	}
}

@media screen and (min-width: 768px) {
	.subscribe-block .column1 .subscribe-wrap {
		padding: 0;
	}
	.subscribe-wrap .placement-wrap {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 30px;
	}
	.subscribe-block .image-wrap {
		margin-bottom: 0;
	}
	.subscribe-wrap .info {
		text-align: left;
		padding-left: 30px;
	}
}

@media screen and (min-width: 992px) {
	.subscribe-wrap {
		margin-bottom: 0;
	}
	.column1 div.subscribe-wrap {
		padding: 30px;
	}
	.subscribe-block .column1,
	.subscribe-block .column2 {
		margin-bottom: 40px;
	}
	.subscribe-block::before {
		left: -30px;
		right: -30px;
	}
}


/*
  ===================================================
				  newsletter
  ===================================================
  */

.c2-info {
	text-align: center;
}

.newsletter .c2-subscribe-wrap .c2-info {
	border: 1px solid #ebebeb;
	padding: 20px;
}

@media screen and (max-width: 767px) {
	.subscribe-block .column2 .c2-subscribe-wrap {
		width: 100%;
		flex-wrap: wrap;
	}
	.subscribe-block .column1 .subscribe-wrap {
		width: 100%;
		flex-wrap: wrap;
	}
	.c2-subscribe-wrap .newsletter-image,
	.c2-subscribe-wrap .c2-info {
		display: block;
		width: 100%;
	}
	.c2-subscribe-wrap .newsletter-image {
		height: 160px;
		background: url(../img/newsletter.png) center center / cover no-repeat;
		z-index: 2;
	}
}

@media screen and (min-width: 768px) {
	.subscribe-block .info h3,
	.subscribe-block .c2-info h3 {
		font-size: 24px;
	}
	.subscribe-block .c2-info a {
		margin-bottom: 0;
	}
	.subscribe-block .column2 .c2-info {
		text-align: left;
		padding: 30px;
		flex: 1;
	}
	.newsletter-image {
		max-width: 191px;
		background: url(../img/newsletter.png) center center / cover no-repeat;
		width: 48%;
	}
	.subscribe-block .column2 .c2-subscribe-wrap {
		width: 100%;
	}
}

@media screen and (min-width: 992px) {
	.subscribe-block {
		padding-top: 70px;
	}
	.subscribe-block .column1 .head-story-red {
		position: absolute;
		top: -30px;
		left: 15px;
	}
	.subscribe-block .column2 .head-story-red {
		position: absolute;
		top: -30px;
		left: 15px;
	}
}


/*
  ===================================================
				  the-footer
  ===================================================
  */

footer {
	border-top: 2px solid #f4f5f6;
	background-color: white;
	padding: 30px 15px;
}

footer .top-brand {
	align-items: flex-end;
}

footer .top-brand p {
	font-size: 12px;
	line-height: 12px;
	text-transform: uppercase;
	color: #666;
	margin-bottom: 12px;
}

footer svg {
	display: block;
	width: 236px;
	height: 36px;
	margin-right: 15px;
	margin-bottom: 12px;
	fill: #f72210;
}

footer .top-wrap {
	align-items: flex-end;
	justify-content: space-between;
}

footer .top-social-media {
	color: #666;
	margin-bottom: 12px;
}

footer .top-social-media a,
footer .the-footer-links a {
	color: inherit;
	text-decoration: none;
}

footer ul {
	list-style: none outside none;
}

footer ul li {
	margin-left: 10px;
}

footer .top-social-media li:first-child,
footer .mid-editions li:first-child {
	margin-left: 0;
}

footer .genericon {
	line-height: 24px;
}

.facebook::before {
	content: "\f203";
}

.twitter::before {
	content: "\f202";
}

footer a.twitter {
	font-size: 25px;
}

.instagram::before {
	content: "\f215";
}

.tumbler::before {
	content: "\f214";
}

footer a.tumbler {
	font-size: 21px;
}

.linkedin::before {
	content: "\f207";
}

.the-footer-links {
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	border-top: 1px solid #d9d9d9;
	padding-top: 6px;
	font-size: 14px;
	line-height: 15px;
	color: #666;
}

.mid-editions label {
	margin-top: 6px;
	margin-right: 15px;
}

.the-footer-links li {
	display: inline-block;
	padding-right: 20px;
	margin: 6px 0;
	cursor: pointer;
}

@media screen and (max-width: 767px) {
	.top-social-media {
		width: 100%;
	}
	.top-brand p {
		width: 100%;
	}
	.the-footer-links .mid-editions {
		flex-wrap: nowrap;
	}
	.the-footer-links .mid-editions ul {
		flex-wrap: wrap;
	}
}

@media screen and (min-width: 768px) {
	.the-footer-links li {
		border-right: 1px solid #d9d9d9;
		padding-right: 10px;
		margin-right: 10px;
	}
	.mid-editions li:last-of-type {
		border-right: 0;
		padding-right: 0;
		margin-right: 0;
	}
}


/********************************
* Sticky colums
*********************************/

@media (min-height: 60px) {
	.tp-story {
		position: sticky;
		top: 0;
	}
	.r-sidebar {
		position: sticky;
		top: 0;
	}
}